<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Practica</title>
</head>
<body>
    <main>
        <usuarios>
            <h1>Usuarios de mi Startup</h1>
        </usuarios>
    </main>   
    <template id="usuarios-template">
        <div>
            <section class="cabecera">
                <slot></slot>
                <input type="search" v-model="busqueda" placeholder="Filtrar usuarios...">                
            </section>
            <hr>
            <section class="usuarios">
                <usuario :datos="usuario" v-for="usuario in filtrarUsuarios"></usuario>
            </section>
        </div>
    </template>
    <template id="usuario-template">
        <div class="usuario">
            <img align="left" id="imagen":src="datos.foto" :alt="datos.nombre">
            <section>
                <h1>{{datos.nombre}}</h1>
                <small>{{datos.correoe}}</small>
            </section>
        </div>
    </template>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/main.js"></script
</html>